docker {
    enabled = true  // Enables Docker for Nextflow processes
    runOptions = '-v /workspace/cancer-subtyping-nextflow-pipeline/data:/data -v /workspace/cancer-subtyping-nextflow-pipeline/app/outputs:/app/outputs -v /workspace/cancer-subtyping-nextflow-pipeline/app:/app'
}

process {
    executor = 'local'  // Use local execution
    container = 'elirn98/cancer_subtyping_nextflow_pipeline:v1'  // Default container for all processes
    cpus = 4
    memory = '32 GB'
    time = '5h'
    containerOptions = '--shm-size=16g'
}

params{
    CUR_PATH = '.'
    SAVE_PATH = 'outputs'
    PLOT_PATH = 'plots'
    MODEL = 'H-optimus-0'
    DATASET = 'MKobel'
    DATA_PATH = '/data'
}